body{
    font-family: 'Ubuntu';
    background-color: #2436475d;
    background-image: url(https://i.redditmedia.com/1Cs3uoAAoG_4Lc52Nc_XQxqbSSwCOJUIiemrRCBxKOw.jpg?w=1024&s=5a6ac8336d29158448ff4c5e8872a9a9);
    background-size: cover;
    color: white;
    margin: auto;
}
h1{
    display: inline-block;
}
.lokasi {
    background-color: rgba(35, 101, 177, 0.247);
    color: white;
    width: 96%;
    margin: auto;
    border: 5px solid black;
    border-top: none;
    padding: 20px;
}
.lokasi a:hover {
    text-shadow:0px 0px 10px rgb(0, 0, 0);
    color: white;
}
.logo {
    display: inline-block;
}
.infor {
    background-color: rgba(35, 101, 177, 0.404);
    color: white;
    margin: 0px;
    margin-top: 10px;
    margin-left: 2.5px;
    width: 500px;
    padding: 20px;
    border: dashed;
}
.copy {
    margin-left: 160px;
}
#content tr:hover{
    text-shadow:0px 0px 10px rgb(0, 0, 0);
}
#content td:hover{
    text-shadow:0px 0px 10px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: lime;
}
#content .first{
    background-color: rgb(247, 0, 0);
    margin: 0px;
}
table{
    border: 5px #000000 double;
    width: 55%;
    margin: 0px;
    border-collapse: collapse;
	background: transparent;
	font-size: 13px;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-shadow:0px 0px 10px #000000;
}
input,select,textarea{
    border: 1px #000000 solid;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.comot {
    margin-left: 580px;
    margin-top: -322px;
}
.isi {
    margin-left: 580px;
    margin-top: -303px;
}